.loadingAni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingMain {
  width: 400px;
}
.loadingContent {
    text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.02em;
  max-width: 300px;
  color: #a7a7a7;
}
