.image {
  font-family: Pattaya;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 50px;
}
.navbarMain {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.navbarMainDark input{
  background: #4F4F4F !important;
  border: 1px solid #858484 !important;
  color: #dadada !important;
  /* #858484 */
}
.navbarMain input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  outline: none;
  background: #f7f7f7;
  padding: 5px;
  width: 30vw;
  height: 40px;
  padding-left: 45px;
  padding-right: 10px;
}
.navbarMain input:focus {
  outline: none;
}
.BsSearch {
  position: absolute;
  color: #c4c4c4;
  font-size: 20px;
  margin-left: 15px;
}
.inputField {
  margin-left: -50px;
  position: relative;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-left: 20px;
}
.collection {
  margin-left: 30px;
  margin-right: 30px;
}
.cursor {
  cursor: pointer;
}
.RxHamburgerMenu {
  display: none;
}
::placeholder {
  color: #c4c4c4;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .image {
    margin-left: 0px;
  }
  .inputField {
    margin-left: 0px;
  }
}
@media screen and (max-width: 850px) {
  .navBTN {
    display: none;
  }
  .RxHamburgerMenu {
    display: block;
    font-size: 30px;
  }
}
@media screen and (max-width: 650px) {
  .mode {
    display: none;
  }
  .btn {
    margin-left: 0px;
  }
  .image {
    font-size: 18px;
  }
  .navbarMain input {
    width: 40vw;
  }
}
