@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pattaya&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
.Dark{
  background: #232323;
  color: #fff;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.SubNav{
  position: relative;
}

.GalleryMain{
  margin-top: 21vw;
  margin-right: 10px;
}